if (phantom.state.length === 0) {
  phantom.state = 1;
  phantom.content = '<html><body><script>' + <%= processingjs %> + '</script><canvas id="surface"></canvas></body></html>';
} else {
  var canvas = document.getElementById("surface");
  try {
    new Processing(canvas, <%= pjs %>);
    console.log(canvas.toDataURL());
  } catch (e) {
    //console.log(e.line);
    console.log(e);
  }
  phantom.exit();
}
